@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

a 
	text-decoration: none
	color: $text
	&:hover
		text-decoration: none
		color: $text	

::placeholder
	color: #ffffff
	opacity: 1

.wrapper
	margin: 0 auto

.header
	height: 720px
	background: url('../img/bg-header.jpg')	no-repeat center /cover, linear-gradient(#000, rgba(0,0,0, .8) 25%, rgba(0,0,0, .7) 50%, rgba(0,0,0,.8) 75%, #000)
.header__inner
	width: 100%
	height: 100%
	background: linear-gradient(#000, rgba(0,0,0, .8) 25%, rgba(0,0,0, .7) 50%, rgba(0,0,0,.8) 75%, #000)	
	

.header__top
	padding-top: 40px
	display: flex
	align-items: center

.header__logo
	max-width: 380px
	img
		width: 100%

.main-nav
	margin-left: auto
	display: flex
	&__block
		padding: 0 45px
		letter-spacing: 2px
		border-right: 1px solid $accent
		color: #ffffff
		&:last-child
			border: none

.h-search
	position: relative
	margin-left: 1rem
	&__input
		background-color: transparent 
		color: #ffffff
		padding-left: 30px
		border: none
		outline: none
		letter-spacing: 2px
		width: 170px
		transition: 1s // Resizing search form window
		&:focus
			width: 200px
			border: 1px solid #fff
	&__button
		color: $accent
		position: absolute
		left: 5px
		top: 50%
		transform: translateY(-50%)  // Vertical-align of search button
		&:hover
			color: $accent

/* Slider section	starts here */
.header__middle 
	display: none
	max-width: 80%
	margin-left: -140px
	margin-bottom: 20px
	
.header__slider p 
	padding-left: 170px
	font-size: 110px
	color: #fff
	font-weight: 800
	line-height: 120px
	outline: none
	span 
		display: block
		font-size: 30px
		text-align: center
		font-style: italic
/* Slider section	ends here */

/* Separator starts here	 */
.title
	text-align: center
	padding: 20px 0
	background-color: darken($accent, 10%)
	&__separator
		text-transform: uppercase
		color: #ffffff 
		font-weight: bold
		font-size: 36px
		letter-spacing: 2.2px
/* Separator ends here	 */

/* Represent section css starts here */
.represent
	height: 280px
	padding: 40px 100px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	margin-bottom: 0.5rem

.represent_1
	background-image: url('../img/bg-1-b.jpg')

.represent_2
	background-image: url('../img/bg-2-b.jpg')

.represent_3
	background-image: url('../img/bg-3-b.jpg')

.represent_4
	background-image: url('../img/bg-4-b.jpg')

.represent_5
	background-image: url('../img/bg-5-b.jpg')
	margin-bottom: 0


.represent__inner
	display: flex
	align-items: center
	height: 100%

.represent__specialty
	height: 100%
	display: flex
	align-items: center
	border-right: 1px solid #fff
	flex-basis: 250px
	flex-shrink: 0
	padding: 0 1rem

.represent__title
	font-size: 24px	

.represent__content
	display: flex	
	align-items: center

.r-description
	padding: 0 4rem
	&__title
		font-size: 20px
	&__text
		display: inline

.read-more
	color: $accent2	
	font-weight: bold
	letter-spacing: 2px	
	white-space: nowrap

.represent__button
	white-space: nowrap	
	border: 1px solid #fff
	text-align: center
	letter-spacing: 2px
	font-size: 15px
	flex-basis: 160px
	flex-shrink: 0
	display: block
	padding: 5px 0
	font-weight: 600

/* Represent section css ends here */

/* News section css starts here */
.news
	height: 280px
	padding: 40px 100px
	background-color: #fff		

.news__block
	display: flex
	align-items: center
	height: 100%

.news__button
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	flex-basis: 250px
	flex-shrink: 0

.news-button__link
	padding: 10px 25px
	background-color: $accent2
	font-size: 24px
	font-weight: 700

.news__title
	font-size: 20px
	color: #000000

.news__text
	color: #000000
	display: inline
/* News section css ends here */

/* Footer section css starts here */
.footer
	background-color: #1b2026	
	padding: 50px 0

.footer__inner
	display: flex
	justify-content: center

/* Footer connect section css starts here */	
.footer__connect
	padding-right: 45px

.f-connect__title
	color: $accent
	font-size: 16px
	letter-spacing: 4px

.f-connect__block
	padding: 1rem 0
	border-bottom: 1px solid #fff
	font-size: 14px
	font-weight: 700

.f-social
	display: flex
	justify-content: space-between
	width: 280px
	&__link
		display: block
		width: 40px
		height: 40px
		background: url('../img/social_sprite.png')	no-repeat -14px -12px
		&:nth-child(2)
			background-position: -76px -12px
		&:nth-child(3)
			background-position: -140px -12px
		&:nth-child(4)
			background-position: -204px -12px
		&:nth-child(5)
			background-position: -268px -12px

.f-copyright
	a
		color: $accent2

.f-advertising
	border: none
/* Footer connect section css ends here */

/* Footer contact section css starts here */	
.footer__contact
	padding: 0 45px
	border-left: 1px solid #fff
	border-right: 1px solid #fff

.f-contact__title
	color: $accent
	font-size: 16px
	letter-spacing: 4px

.f-contact__phone
	margin-top: 1rem

.fc-city__link
	color: $accent2	
	display: block
/* Footer contact section css ends here */

/* Footer info section css ends here */	
.footer__info
	padding-left: 45px

.f-info__title-1, .f-info__title-2
	color: $accent
	font-size: 16px
	letter-spacing: 4px

.f-info__blogs
	margin-top: 1rem
	padding-bottom: 1rem
	border-bottom: 1px solid #fff

	
.fi-blogs__link
	color: $accent2
	font-size: 14px	
	padding-left: 10px
	padding-right: 10px
	border-right: 1px solid #fff
	&:first-child 
		padding-left: 0
	&:last-child 		
		padding-right: 0
		border: none

.f-info__title-2
	margin: 1rem 0	

.certifications
	display: flex
	&__img
		height: 45px
		margin-right: 15px
		&:last-child
			margin-right: 0
		img 
			height: 100%	
			width: auto	

.f-hidden
	display: none

.f-hidden__copyright
	a
		color: $accent2
	padding: 1rem 0
	border-top: 1px solid #fff

.f-hidden__advertising	
	padding-top: 1rem
	border-top: 1px solid #fff



/* Footer section css ends here */

@import "media" // Always at the end
